<footer class="container-fluid">
    <!-- place footer here -->
        <div class="container">
            <span class="lead">&copySIMULACI&Oacute;N 2023 - Parque de Atracciones: Hollywood Studio [Star wars Galaxy's Edge]</span>
        </div>
</footer>


