<div class="row">
    <div class="col">
        <h3>Función</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <canvas id="myChart"></canvas>
        <p>Cantidad de Visitantes</p>
    </div>
</div>

@code {

}
