<RadzenCard class="rz-background-color-info-lighter decodificador-card">
    <div id="Decodificador" class="decodificador-container">
        <h3>Decodificador</h3>

        <label for="secuencia-input">Ingrese una secuencia de 0 y 1:</label>
        <input id="secuencia-input" type="text" @bind="Cadena" class="form-control" />

        <button class="btn btn-primary decodificar-button" @onclick="@Decodificar">Decodificar</button>

        <label for="palabra-input">Palabra decodificada:</label>
        <input id="palabra-input" type="text" contenteditable="false" @bind="CadenaDecodificada" class="form-control" />
    </div>
</RadzenCard>

@code {
    [Parameter]
    public Model.Fuente fuente { get; set; }
    string Cadena { get; set; } = string.Empty;
    string CadenaDecodificada { get; set; } = string.Empty;

    private async Task Decodificar()
    {
        CadenaDecodificada = fuente.DecodificarHuffman(Cadena);
    }
}
