@using Services;
@inject IFuenteService FuenteService
@inject NavigationManager NavigationManager

<h3>Fuentes</h3>
<button class="btn btn-primary rz-ripple rz-shadow-2 rz-border-radius-6" @onclick="CreateNewFuente" aria-label="Crear Nueva Fuente">Crear Nueva Fuente</button>

<ManualFuentesComponent/>

<table class="table" aria-label="Tabla de Fuentes">
    <thead>
        <tr>
            <th>Numero de Simbolos</th>
            <th>Cadena Generadora</th>
            @* <th>Entropia Maxima</th> *@
            <th>Entropia de la Fuente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Fuente in FuenteService.Fuentes)
        {
            <tr>
                <td>@Fuente.Letras.Count</td>
                <td>@Fuente.CadenaFuente</td>
                @* <td>@Fuente.EntropiaMaxima().ToString("0.##")</td> *@
                <td>@Fuente.EntropiaDeLaFuente().ToString("0.##")</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(()=> ShowFuente(Fuente.IdFuente))" aria-label="Editar Fuente">
                        <i class="oi oi-pencil" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
