<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Portfolio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fuentes" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Fuentes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generador">
                <span class="oi oi-plus" aria-hidden="true"></span> Numeros Aleatorios
            </NavLink>
        </div>     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simulador">
                <span class="oi oi-plus" aria-hidden="true"></span> Simulador
            </NavLink>
        </div>
        @*        <div class="nav-item px-3">
        <NavLink class="nav-link" href="pruebasEstadisticas">
        <span class="oi oi-plus" aria-hidden="true"></span> Pruebas Estadisitcas
        </NavLink>
        </div>*@
        @*<RadzenFooter>López Rubio Martin - <RadzenIcon Icon="copyright" />Copiright @DateTime.Now.Year - Comunicaciones 2022</RadzenFooter>*@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
