.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.topRow {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.bottomRow {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  text-align: right;
  width: 100%;
  padding-right: 28px;
}

.iconMenuArrow {
  text-align: right;
  cursor: pointer;
}

:global(.navbar-brand) {
  font-size: 1.1rem;
}

:global(.oi) {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

:global(.nav-item) {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }

  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    text-decoration: none;

    &.active {
      background-color: rgba(255, 255, 255, 0.25);
      color: white;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
    }
  }
}

@media (min-width: 641px) {
  :global(.navbar-toggler) {
    display: none;
  }

  :global(.collapse) {
    display: block;
  }
}

@media (max-width: 640px) {
  .bottomRow {
    display: block;
  }
}
