@inject IProfessionalService service
@using  Services;
@using Model

<h3>AboutMe</h3>

    @if(professional == null)
    {
<h1>
        "No se pudo cargar el profesional";
    </h1>
}
else
{
    <h1> @professional.Name </h1>
}

@*@professional?.Contact.City*@


@code {
    Professional? professional { get; set; }

    protected override async Task OnInitializedAsync()
    {
        professional = await service.GetProfessionalAsync(1);
        base.OnInitialized();
    }
}
