.experience-icon {
    width: 15px;
    height: 20px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

    .experience-icon::before,
    .experience-icon::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #000;
        transform-origin: center center;
    }

    .experience-icon::before {
        top: 0;
        transform: skewX(45deg);
    }

    .experience-icon::after {
        bottom: 0;
        transform: skewX(-45deg);
    }

.skill-icon {
    width: 8px;
    height: 8px;
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}
