<div class="section">
    <div class="right-column">
        <Trainings ProfessionalId="@ProfessionalId"></Trainings>
        <Interests ProfessionalId="@ProfessionalId"></Interests>
        <AdditionalInfo ProfessionalId="@ProfessionalId"></AdditionalInfo>
    </div>
    <div class="experiences">
        <Experiences ProfessionalId="@ProfessionalId"></Experiences>
    </div>
</div>

@code {
    [Parameter]
    public int ProfessionalId { get; set; }
}
