<div class="section">
    <Experiences></Experiences>
    <div class="right-column">
        <Trainings></Trainings>
        <Interests></Interests>
        <AdditionalInfo></AdditionalInfo>
    </div>
</div>