@using Model;
@inject IProfessionalService service
@using Services;

<div class="interests">
    <TitleComponent Title="Interests"></TitleComponent>
    @foreach (var interest in _interests)
    {
        <div>
            <span class="item-icon"></span>
            @interest.Name
        </div>
    }
</div>


