@using Model;
@inject IProfessionalService service
@using Services;

<div class="interests">
    @if(Language == Language.English)
    {
        <TitleComponent Title="Interests"></TitleComponent>
    }
    else if(Language == Language.Spanish)
    {
        <TitleComponent Title="Intereses"></TitleComponent>
    }
    @foreach (var interest in _interests)
    {
        <div>
            <span class="item-icon"></span>
            @interest.Name
        </div>
    }
</div>


