@using Model;
<div class="section">
    <div class="professional-profile">
        <TitleComponent Title="Professional Profile"></TitleComponent>
        <div class="professional-content">
            @ProfessionalProfile
        </div>
    </div>
    <div class="tools">
        <TitleComponent Title="Tools"></TitleComponent>
        <div class="tool-logos">
            @foreach (Tool tool in Tools.Take(4))
            {
                <div class="tool-logo">
                    <img src="@tool.LogoUrl" class="logo">
                    <p>@tool.Name</p>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ProfessionalProfile { get; set; }
    [Parameter]
    public List<Tool> Tools { get; set; }
}
