@using Model;
@using System.Net.Http;
@inject HttpClient Http

<div class="section">
    <div class="professional-profile">
        @if(Language == Language.English)
        {
            <TitleComponent Title="Profile"/>
        }
        else if(Language == Language.Spanish)
        {
            <TitleComponent Title="Perfil"/>
        }
        <div class="professional-content">
            @ProfessionalProfile
        </div>
    </div>
    <div class="tools">
        @if(Language == Language.English)
        {
            <TitleComponent Title="Tools"/>
        }
        else if(Language == Language.Spanish)
        {
            <TitleComponent Title="Herramientas"/>
        }
        <div class="tool-logos">
            @foreach (Tool tool in ToolsWithLogoUrls.Take(4))
            {
                <figure class="tool-logo">
                    <img src="@tool.LogoUrl" class="logo" alt="@tool.Name logo">
                    <figcaption>@tool.Name</figcaption>
                </figure>
            }
        </div>
    </div>
</div>


