<div class="header">
    <div class="title">
        <h1 class="title-style">
            @foreach (var part in Role?.ToUpper().Split('/') ?? Array.Empty<string>())
            {
                @part
                if (part != Role?.ToUpper().Split('/').Last())
                {
                    <text> / </text>
                    <br />
                }
            }
        </h1>
        <h3 class="title-style">@Name</h3>
    </div>
    <div class="badge-container badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="light"
         data-type="HORIZONTAL" data-vanity="martinlopezrubio" data-version="v1">
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Role { get; set; }
}
