.section {
    display: flex;
    flex-wrap: wrap; /* Permite envolver en pantallas pequeñas */
}

.professional-profile {
    flex: 65%;
    display: flex;
    flex-direction: column;
}

.tools {
    flex: 35%;
    display: flex;
    flex-direction: column;
}

.tool-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Acomoda los logos en pantallas pequeñas */
}

.tool-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.professional-content {
    margin-right: 30px;
}

.logo {
    max-width: 60px; /* Asegura que las imágenes no superen el ancho */
    height: auto;
}

@media only screen and (max-width: 768px) {
    .professional-profile, .tools {
        flex: 100%; /* En pantallas pequeñas, los elementos ocupan todo el ancho */
    }
}
