.section {
    display: flex;
}

.professional-profile {
    flex: 65%; /* Aumentamos el ancho para dar más espacio al título */
    display: flex;
    flex-direction: column;
}

.tools {
    flex: 35%;
    display: flex;
    flex-direction: column; /* Organiza el título y el contenido en una columna */
}

.tool-logos {
    display: flex; /* Organiza los logotipos de las herramientas en una fila */
    justify-content: space-around;
}

.tool-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.professional-content {
    margin-right: 30px; /* Margen derecho de 30px */
}

.logo {
    width: 60px;
    height: auto;
}
