@using Model;
@using System.Net.Http;
@inject HttpClient Http

<div class="section">
    <div class="professional-profile">
        <TitleComponent Title="Professional Profile"></TitleComponent>
        <div class="professional-content">
            @ProfessionalProfile
        </div>
    </div>
    <div class="tools">
        <TitleComponent Title="Tools"></TitleComponent>
        <div class="tool-logos">
            @foreach (Tool tool in ToolsWithLogoUrls.Take(4))
            {
                <figure class="tool-logo">
                    <img src="@tool.LogoUrl" class="logo" alt="@tool.Name logo">
                    <figcaption>@tool.Name</figcaption>
                </figure>
            }
        </div>
    </div>
</div>


