.title-container {
    background-color: #889;
    width: calc(100% - 20px);
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 0.3em;
    font-size: 1.4em; /* Reducir el tamaño de la fuente un poco */
    padding: 0.2em 10px; /* Añadir padding horizontal */
    white-space: nowrap;
    overflow: hidden; /* En caso de que aún exista desbordamiento, esto lo ocultará */
    text-overflow: ellipsis; /* Esto agregará puntos suspensivos si el texto se desborda */
}
