@using Model;
@inject IProfessionalService service
@using Services;

<div class="training">
    @if (Language == Language.English)
    {
        <TitleComponent Title="Training"></TitleComponent>
    }
    else if (Language == Language.Spanish)
    {
        <TitleComponent Title="Formación"></TitleComponent>
    }

    @foreach (var training in _trainings)
    {
        <div>
            <span class="training-icon"></span>
            <h3>@training.Accademy</h3>
        </div>
        <div>
            @training.YearStart - @(training.YearFinish.HasValue ? training.YearFinish.Value.ToString() : "Present")
        </div>
        <div>@training.Speciality</div>
    }
</div>


